* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: calc(.6em + 1rem);
}
a {
  text-decoration: none;
}
a:hover {
  color: #164EC0;
}
input, textarea {
  font-size: 1.1rem;
  padding: .5rem 1rem;
  border-radius: 8px;
  border: 1px solid lightgray;
}
button {
  padding: none;
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
}
.button {
  background-color: #164EC0;
  padding: 0.3rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 8px;
  font-weight: 600;
  color: white;
}

.displayNone {
  display: none;
}
.pointer {
  cursor: pointer;
}
.title {
  font-size: 1.6rem;
  font-weight: 650;
}
.link {
  font-size: 1.05rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
link:hover {
  color: #164EC0;
}
.font {
  font-size: 1.05rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}
.gradient-text {
  background: linear-gradient(180deg, #06286E, #164EC0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-h {
  display: flex;
  align-items: center;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-s {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-e {
  display: flex;
  align-items: center;
  justify-content: end;
}

body {
  max-width: 1300px;
  margin: auto;
  padding: 1rem;
  overflow-x: hidden;
}


.app {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 1450px;
  margin: auto;
}
.app::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}
.appBody {
  min-height: 100%;
  max-width: 100%;
  margin: auto;
}

@media all and (max-width: 705px) {
  .header__links {
    display: none;
  }
  .hero__card__item {
    width: 80vw;
    min-height: fit-content;
    gap: 1rem;
  }
  .card {
    width: 85vw;
  }
  .hero__card__bottom {
    width: 80vw;
  }
}